body {
    background: url("https://media.istockphoto.com/photos/green-felt-and-playing-chips-abstract-background-picture-id672556284?k=20&m=672556284&s=612x612&w=0&h=Eh62_3jBb3TdkEkWz8G4oonuEAdqPrneAbYjibj3lhk=");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0 auto;
    text-align: center;
    color: white;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-blackjack-row-2 div {
    padding: 10px;
    flex: 1;
    height: 350px;
    text-align: center;
}

.flex-blackjack-row-2 div img {
    padding: 10px;
}

table,
th,
td {
    padding: 5px;
    border: 1px solid white;
    color: white;
    align-items: center;
    text-align: center;
}

.flex-blackjack-row-3 div {
    padding: 10px;
}

.flex-blackjack-row-3 button {
    padding: 10px;
    margin-bottom: 10px;
}

#win-header {
    color: lightgreen;
}

#loss-header {
    color: #d32f2f;
}

#draw-header {
    color: yellow;
}